* {

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #1c1c1c;
}

.Hero {
  visibility: visible;
  overflow: auto;

  height: auto;
}

#HeroContainer {
    
  display: flex;
  overflow: hidden;
  height: calc(100% - 120px);

  justify-content: space-around;

  z-index: 60;
}

#ThisIs{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: clamp(90px, 8vw, 128px);
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -12px;

}

#HeroName{

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: clamp(100px, 8vw, 128px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -14px;

}

#HeroIntro{
  
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
}

#HeroImg{
  width: 600px;
  height: 450px;

  margin-top: 15vh;

  border-radius: 50px;
  opacity: .7;
  
}

#ContactMe{

  border: none;
  font-size: 35px;
  text-decoration: none;

  border-radius: 20px;
  background: #e63946;

  padding: 8px 12px 12px;
  margin-right: 32px;
  cursor: pointer;

  width: 180px;
  color: #2a2a2a;

  transition: 0.5s ease-in-out;
  
  align-self: flex-end;
}


#ContactMe:hover{
  transform: scale(1.2);
  opacity: 90%;
}


#blob{
  background-color: transparent;
  margin-top: -18vh;
  width: 600px;
  z-index: -1;
}



.HeroBlog{
  visibility: visible;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-around;
}


/* #BlogTitle, #BlogContent{

  background-color: whitesmoke;
  color: #2a2a2a;
  padding: 20px;
  padding-top: 10px;
}

#BlogTitle{
  margin-top: 200px;
}

#BlogThumbnail{
  position: relative;
}
 */
#BlogCard{

  width: 250px;
  height: 200px;
  background-color: whitesmoke;
  color: #2a2a2a;

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-overflow: ellipsis;
  transition: 0.2s ease-in-out;

}


#CardItems{
  display: flex;
  margin: 20px;
}

#BlogCard:hover{
  transform: scale(1.09);
  opacity: 90%;
}



@media (max-width: 1230px){

  #ThisIs{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(60px, 6vw, 128px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -6px;
    
    }
    
    #HeroName{
    
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: clamp(90px, 6vw, 128px);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -6px;
    
    }

  #HeroImg{
    width: 400px;
    height: 300px;
  
    margin-top: 15vh;
  
    border-radius: 50px;
    opacity: .7;
    
  }

  #ContactMe{
    align-self: flex-start;
  }
}