


@media (max-width: 768px){

    
    *{
        transition: none;
        visibility: hidden;
    }

    .Hero, .HeroBlog{
        visibility: visible;
        height: 100vh;
    }
    
    

/*
      #HeroContainer {
          visibility: visible;
        display: flex;
          
        overflow: hidden;
        height: calc(100% - 10px);
      
        border: dashed rebeccapurple;
      }
      
    #HeroName{
        visibility: visible;
        font-size: 28px;
        height: 8vh;
        position: relative;
        margin-bottom: 0px;
        
    }
    
    #HeroImageContainer {

      position: absolute;
      background-image: url("https://picsum.photos/id/1067/600/400");

      margin-top:calc(70px + 8vh);
      height: 680px;
      width: 380px;
      margin-right: auto;
      margin-left: auto;
      align-self: center;
    }
 */

}