---
import "../styles/global.css";
import NavigationBar from "../components/NavigationBar.astro";
import Footer from "../components/Footer.astro";

const { title = 'Untitled', description = '', canonical = '' } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    {canonical && <link rel="canonical" href={canonical} />}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>

  <body class="flex flex-col min-h-screen">
    <NavigationBar />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>