@media (max-width: 768px) {

    #Socials,#Logo{
        visibility: hidden;
        position: absolute;
    }

    *{
        color: #2a2a2a;
    }
    .Nav {

        width: 100vw;
        height: 120px;
        display: flex;
        justify-content: space-around;
        background-color: rgb(51, 51, 51);
        align-items: center;

        visibility: visible;

        position: fixed !important;
        z-index: 20;

        margin-top: calc(100vh - 120px);

        background: rgba(77, 77, 77, 0.3);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.2px);
        -webkit-backdrop-filter: blur(4.2px);


    }
    
    

    
    
    #Home,
    #NavBlog,
    #NavProjects {
        
        visibility: visible;
        
        border: none;
        font-size: 24px;
        text-decoration: none;
        transition: 0.5s ease-in-out;
    
        background: none;
    }
    
    #NavBlog,
    #NavProjects {
    
        cursor: not-allowed;
    }
    
    
    #Home:hover,
    #NavBlog:hover,
    #NavProjects:hover {
        transform: scale(1.2);
        color: #0566a7;
    }
    

    
    #NavMiddle {
    
        display: flex;
        gap: 28px;
        background: none;
    
    }
    
}