* {
    color: #FEFEFE;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.Nav {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(107, 107, 107, 0.);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
}

#Socials {

    
    border: none;
    font-size: 35px;
    color: inherit;
    text-decoration: none;

    border-radius: 20px;
    background: #e63946;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 8px 12px 12px;
    margin-right: 32px;

    cursor: pointer;
    transition: 0.5s ease-in-out; 

    color: #2a2a2a;
}


#Socials:hover,
#Menu:hover {
    transform: scale(1.2);
    opacity: 90%;
}


#Home,
#NavBlog,
#NavProjects {

    border: none;
    font-size: 35px;
    text-decoration: none;
    transition: 0.5s ease-in-out;

    background: none;
}

#NavBlog,
#NavProjects {

    cursor: not-allowed;
}


#Home:hover,
#NavBlog:hover,
#NavProjects:hover {
    transform: scale(1.2);
    color: #0566a7;
}


#Logo {

    margin-left: 32px;
    text-decoration: none;
    transition: 0.5s ease-in-out;

    background: none;
}

#NavMiddle {

    display: flex;
    gap: 35px;
    background: none;

}


@media (max-width: 768px) {
    
    *{
        visibility: hidden;
        transition: none;
    }
}