---
---

<section id="blog" class="bg-[var(--bg-alt)] bg-graph">

  <div class="px-6 lg:px-16 py-12">
    <div class="p-12 text-center border border-dashed border-[var(--border-light)] bg-[var(--bg-alt)] fade-in">
      <p class="font-serif italic text-lg text-[var(--text-faint)] mb-2">
        Writing takes time. Shipping takes longer.<br />
        Something is being drafted as we speak.
      </p>
      <div class="font-mono text-[0.65rem] text-[var(--text-faint)] tracking-widest mt-3">
        // TODO: push to production
      </div>
    </div>
  </div>
</section>