---
---

<div class="sticky top-0 z-50 flex justify-between items-center p-4 px-10 border-b border-[var(--border-light)] bg-[var(--text-main)] text-[var(--white)] shadow-md">
  <a href="/" class="text-lg font-bold font-serif transition-transform duration-300 transform hover:scale-106 hover:-translate-y-[0.5] hover:text-[var(--accent)]">
    C.Rupak
  </a>
  <div class="flex space-x-2">
    <a href="/projects" class="px-2 py-1 rounded-lg transition-transform duration-300 transform hover:scale-106 hover:-translate-y-[0.5] hover:bg-[var(--accent)]">
      Projects
    </a>
    <a href="/resume" class="px-2 py-1 rounded-lg transition-transform duration-300 transform hover:scale-106 hover:-translate-y-[0.5] hover:bg-[var(--accent)]">
      Resume
    </a>
    <a href="/logs" class="px-2 py-1 rounded-lg transition-transform duration-300 transform hover:scale-106 hover:-translate-y-[0.5] hover:bg-[var(--accent)]">
      "B-Log"
    </a>
    <a href="/gallery" class="px-2 py-1 rounded-lg transition-transform duration-300 transform hover:scale-106 hover:-translate-y-[0.5] hover:bg-[var(--accent)]">
      Gallery
    </a>
    <a href="#contact" class="px-2 py-1 rounded-lg transition-transform duration-300 transform hover:scale-106 hover:-translate-y-[0.5] hover:bg-[var(--accent)]">
      Contact
    </a>
  </div>
</div>